{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home | Planteer{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="hero-section bg-light p-5 rounded-3 mb-5 text-center hero-background">
    <div class="bg-white bg-opacity-75 p-4 rounded">
        <h1 class="display-4">Life in love with plants</h1>
        <p class="lead">Plant Database For Plant Lovers</p>
        <div class="container mt-4">
            <form method="get" action="{% url 'plants:plant_search_view' %}" class="d-flex justify-content-center align-items-center">
                <div class="input-group" style="max-width: 400px;">
                    <input type="text" name="search" class="form-control" placeholder="Search For Plant..." aria-label="Search" aria-describedby="search-button">
                    <button class="btn btn-dark" type="submit" id="search-button">Search</button>
                </div>
            </form>
        </div>        
    </div>
</section>
<section class="plants-section my-5"> 
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <h2 class="plants-title">Plants</h2>
                <p class="plants-subtitle">Learn more about plants</p>
            </div>
            <a href="{% url 'plants:all_plants_view' %}" class="more-link text-decoration-none">More &rarr;</a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center"> <!-- Added justify-content-center -->
            {% for plant in plants %}
                <div class="col-sm-6 col-md-4 col-lg-3"> 
                    <div class="plant-card card shadow-sm border-0 h-100">
                        <img src="{{ plant.image.url }}" class="card-img-top" alt="{{ plant.name }}" style="width: 100%; height: auto; max-height: 200px; object-fit: contain; border-radius: 8px;">
                        <div class="card-body">
                            <a href="{% url 'plants:plant_detail_view' plant.id %}"><h5 class="card-title mb-1">{{ plant.name }}</h5></a>
                            <p class="card-text text-muted">{{ plant.about|slice:":50" }}...<a href="{% url 'plants:all_plants_view' %}" class="more-link text-decoration-none">more</a><br><span class="fw-bold">{{ plant.category }}</span></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
